@import "reset.css";
body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.canvas {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls_btns {
    margin-bottom: 30px;
}

.controls_btns button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.controls_btns button:active {
    transform: scale(0.98);
}

.controls .controls_colors {
    display: flex;
}

.controls_colors .controls_color {
    width: 45px;
    height: 45px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 4px;
}

.controls .controls_range {
    margin-bottom: 30px;
}

/* 태블릿 */
@media screen and (max-width:768px) {
    .canvas {
        width: 80%;
        height: 500px;
    }

    .controls {
        /* transform: scale(88%); */
        margin-top: 2.5rem;
    }
}

/* 스마트폰(iphone XR 기준) */
@media screen and (max-width:414px) {
    .canvas {
        width: 80%;
        height: 400px;
    }
    
    .controls {
        transform: scale(80%);
    }
}